<div class="container">
    <div class="titulo">
        <h1>ENDEREÇO</h1>
    </div>
    <div class="atributos" >
        <div class="label">
            <p>Rua</p>
            <p>{{endereco.rua}}</p>
        </div>
        <div class="label">
            <p>Bairro</p>
            <p>{{endereco.bairro}}</p>  
        </div>
        <div class="label">
            <p>Cidade</p>
            <p>{{endereco.cidade}}</p>    
        </div>
        <div class="label">
            <p>Estado</p>
            <p>{{endereco.estado}}</p>  
        </div>
        <div class="label">
            <p>CEP</p>
            <p>{{endereco.cep}}</p>   
        </div>
    </div>
</div>
