.container{
    position: relative;
    display: flex;
    padding: 30px;
    background-color: #5f770766;
    border-radius: 20px;
    height: 280px;
    width: 600px;
    left: 15px;
    margin-top: 5%;
    overflow-y: scroll;
    flex-direction: column;
}

.titulo{
    position: absolute;
    font-size: 140%;
}

.titulo p, hr{
    position: relative;
    left: 180px;
}

.tabela{
    display: flex;
    position: absolute;
    margin-top: 35px;
    flex-direction: column;
}
