.container{
    position: relative;
    display: flex;
    padding: 20px;
    background-color: #35bb3b;
    border-radius: 20px;
    height: 115px;
    width: 600px;
    left: 400px;
    margin-top: 5%;
    flex-direction: column;
    text-align: center;
}

