.lado1{
    width: 400px;
    height: 400px;
    background-color: #ff0000;
    border: 1px solid #0011ff;
    border-radius: 100%;
}

.lado2{
    width: 500px;
    height: 500px;
    background-color: #3700ff;
    border: 1px solid #fbff00;
    border-radius: 5px;
}

.lado3{
    width: 600px;
    height: 600px;
    background-color: #fbff00;
    border: 1px solid #000000;
    border-radius: 100%;
}

.lado4{
    width: 700px;
    height: 700px;
    background-color: #ff009d;
    border: 1px solid #0004ff;
    border-radius: 5px;
}

