.linkSelected{
    font-weight: bold;
    display: flex;
}

a:link, a:visited {
    background-color: #000000;
    border-radius: 15px;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 5px;
    width: 230px;
    left: 0;
}

a:hover, a:active {
    background-color: rgb(255, 255, 255);
    color: black;
}

.sidenav{
    background: rgb(18, 26, 1);
    position: fixed;
    top: 0;
    width: 250px;
    height: 100vh;
    left: -250px;
    overflow-y: scroll;
}

input:checked~.sidenav{
    left: 0;
    transition: 0.9s;
}

input:not(:checked)~.sidenav{
    left: -250px;
    transition: 0.9s;
}

input[type="checkbox"] {
    position: fixed;
    top: 20px;
    left: 250px;
    width: 50px;
    height: 50px;
    appearance: none;
    border-radius: 50px 50px 50px 50px;
    background-color: #000000;
    transition: 0.5s;
    cursor: pointer;
    z-index: 999;
}

input[type="checkbox"]::before,
input[type="checkbox"]::after {
    content: "";
    position: absolute;
    width: 18px;
    height: 3px;
    background-color: #ffffff;
    transition: 0.5s;
    top: 50%;
    transform: translateY(-50%);
}

input[type="checkbox"]::before {
    left: 16px;
}

input[type="checkbox"]::after {
    left: 16px;
}

input[type="checkbox"]:checked {
    background-color: #000000;
}

input[type="checkbox"]:checked::before {
    transform: rotate(45deg) translateY(-50%);
}

input[type="checkbox"]:checked::after {
    transform: rotate(-45deg) translateY(-50%);
}
