.container{
    padding: 20px;
    padding-top: 20px;
    background-color: rgb(237, 237, 237);
    position: relative;
    border-radius: 10px;
}

.display input{
    width: 288px;
    height: 80px;
    text-align: end;
    background-color: black;
    color: yellow;
    font-family: 'Orbitron';
    font-size: 70px;
    border-radius: 5px;

}

.time, .intervalo{
    font-family: 'Orbitron';
    text-align: right;
}

.botoes{
    display: flex;
    flex-direction: column;
    bottom: 1px;
}

.linha1, .linha2, .linha3, .linha4, .linha5 {
  display: flex;
  justify-content: center;
}

.linha5 button{
    width: 137px;
}

button{
    appearance: none;
    margin: 3px;
    width: 90px;
    height: 90px;
    border: none;
    border-radius: 2px;
    background-color: white;
    font-size: larger;
    box-shadow: 1px 1px 6px;
}

button:hover, button:active {
    background-color: rgb(237, 237, 237);
    color: black;
    cursor: pointer;
}

.botao-cancelar{
    background-color: rgb(245, 85, 85);
}

.ligar30s{
    background-color: rgb(91, 255, 94);
}