
<input type="checkbox">
  
<div class="sidenav">
        <div class="logo">
            <img src="https://seeklogo.com/images/T/trier-sistemas-logo-2735CC7E09-seeklogo.com.png?v=637953156420000000" width="200px"    alt="trier-logo">
        </div>
        <div class="link">
            <a routerLink="/bindings" routerLinkActive="linkSelected">Exemplo Bindings</a>
        </div>    
        <div class="link">
            <a routerLink="/imc" routerLinkActive="linkSelected">Imc</a>
        </div>    
        <div class="link">
            <a routerLink="/ngclass" routerLinkActive="linkSelected">Ng Class</a>
        </div>    
        <div class="link">
            <a routerLink="/ngstyle" routerLinkActive="linkSelected">Ng Style</a>
        </div>    
        <div class="link">
            <a routerLink="/ngmodel" routerLinkActive="linkSelected">Ng Model</a>
        </div>    
        <div class="link">
            <a routerLink="/ngif" routerLinkActive="linkSelected">Ng If</a>
        </div>    
        <div class="link">
            <a routerLink="/ngfor" routerLinkActive="linkSelected">Ng For</a>
        </div>    
        <div class="link">
            <a routerLink="/ngswitch" routerLinkActive="linkSelected">Ng Switch</a>
        </div>    
        <div class="link">
            <a routerLink="/pipes" routerLinkActive="linkSelected">Pipes</a>
        </div>       
        <div class="link">
            <a routerLink="/microondas" routerLinkActive="linkSelected">Microondas</a>
        </div>       
</div>    

