.container{
    width: 700px;
    height: 600px;
    display: flex;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 50px;
    border-radius: 20px;
}

.input-group{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.input-box{
    display: flex;
    flex-direction: column;
}

.input-box input {
    margin-bottom: 5px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px;
}

.input-gender {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.input-gender input {
    margin-right: 1px;
}

.input-gender label {
    font-weight: 500;
    color: black;
}

.title {
    justify-content: space-between;
    display: flex;
}   

.buttonimc button {
    position: relative;
    top: 20px;
    width: 100%;
    margin-top: 1rem;
    border: none;
    border-radius: 5px;
    background-color: #b5da32;
    text-decoration: none;
    font-size: 100%;
    font-weight: 500;
    color: white;
    line-height: 40px;
    padding-inline: 40px;
    justify-content: center;
}

.buttonimc button:hover{
    background-color: rgb(238, 238, 80);
}


