.container{
    width: 40%;
    height: 90vh;
    display: flex;
    margin: 0;
}

form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: white;
    padding: 3rem;
    border-radius: 20px;
}

.form-header{
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
}

.input-group{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0.2rem;
    height: 50vh;
}

.input-box{
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
}

.input-box input {
    margin: 0.1rem;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px;
}

.input-gender {
    display: flex;
    justify-content: space-between;
    margin-top: 0.62rem;
    padding: 0 0 .5rem;
    flex-direction: column;
    justify-content: space-between;
}

.input-gender input {
    margin-right: 0.50rem;
}

.input-gender label {
    font-size: 1rem;
    font-weight: 500;
    color: black;
}

.title {
    justify-content: space-between;
    display: flex;
    padding: 0.5rem;
}   

.buttonimc button {
    width: 200%;
    margin-top: 1rem;
    border: none;
    border-radius: 5px;
    padding: 0.50rem;
    background-color: #b5da32;
    margin-top: 50px;
}

.buttonimc button:hover{
    background-color: rgb(238, 238, 80);
}

.buttonimc button {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    color: white;
    margin: 0 auto;
}

.dados textarea {
    border-radius: 10px;
    height: 78%;
}