.container{
    padding: 20px;
    padding-top: 100px;
    background-color: rgb(237, 237, 237);
    position: relative;
    border-radius: 10px;
}

.display{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: 80px;
    left: 7%;
    padding: 5px;
    background-color: black;
    color: rgb(255, 255, 255);
    font-size: 70px;
    margin-top: -80px;
}

.time, .intervalo{
    font-family: 'Orbitron';
}

.botoes{
    display: flex;
    flex-direction: column;
    bottom: 1px;
}

.linha1, .linha2, .linha3, .linha4, .linha5 {
  display: flex;
  justify-content: center;
}

.linha5 button{
    width: 137px;
}

button{
    appearance: none;
    margin: 3px;
    width: 90px;
    height: 90px;
    border: none;
    border-radius: 2px;
    background-color: white;
    font-size: larger;
}

button:hover, button:active {
    background-color: rgb(237, 237, 237);
    color: black;
    cursor: pointer;
}
