<div class="container">
    <div class="display">
        <input type="text" maxlength="4" placeholder="00:00" value="{{numeros | tempo}}" readonly>
    </div>
    <div class="botoes"> 
        <div class="linha1">
            <div class="botao1">
                <button (click)="apertaBotao('1')">1</button>
            </div>
            <div class="botao2">
                <button (click)="apertaBotao('2')">2</button>
            </div>
            <div class="botao3">
                <button (click)="apertaBotao('3')">3</button>
            </div>
        </div>
        <div class="linha2">
            <div class="botao4">
                <button (click)="apertaBotao('4')">4</button>
            </div>
            <div class="botao5">
                <button (click)="apertaBotao('5')">5</button>
            </div>
            <div class="botao6">
                <button (click)="apertaBotao('6')">6</button>
            </div>
        </div>
        <div class="linha3">
            <div class="botao7">
                <button (click)="apertaBotao('7')">7</button>
            </div>
            <div class="botao8">
                <button (click)="apertaBotao('8')">8</button>
            </div>
            <div class="botao9">
                <button (click)="apertaBotao('9')">9</button>
            </div>
        </div>
        <div class="linha4">
            <div class="botao0">
                <button (click)="apertaBotao('0')">0</button>
            </div>
        </div>
        <div class="linha5">
            <div class="botao-cancelar">
                <button (click)="cancelar()">Cancelar</button>
            </div>
            <div class="Ligar/+30s">
                <button (click)="ligar()">Ligar / +30s</button>
            </div>
        </div>
    </div>
</div>
