.container{
    position: relative;
    display: flex;
    padding: 30px;
    background-color: #5f770766;
    border-radius: 20px;
    height: 100px;
    width: 600px;
    left: 15px;
    margin-top: 5%;
    
}

input{
    display: flex;
    margin-bottom: 1%;
    flex-direction: row;
    margin-right: 15px;
    appearance: none;
    border: none;
    width: 180px;
    height: 30px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 1px 1px 3px;
}

.container form {
    display: flex;
    flex-direction: row;
    align-items: end;
}

button{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 7px;
    cursor: pointer;
    margin: 5px;
    border-radius: 10px;
    border: none;
    box-shadow: 1px 1px 3px;
    transition: background-color 0.2s ease;
}

button:hover {
    background-color: #5f7707;
    color: white;
}

